# Copy as .env file and fill your values below
# Run ./update_dotenv_example.sh to update .env-example from your .env file.

# Choose Model Backend: 0 -> ML Dev, 1 -> Vertex
GOOGLE_GENAI_USE_VERTEXAI=1

# ML Dev backend config
GOOGLE_API_KEY=YOUR_VALUE_HERE

# Vertex backend config
# Rag Engine only works with Vertex. So we should configure it to use Vertex:
GOOGLE_CLOUD_PROJECT=YOUR_VALUE_HERE
GOOGLE_CLOUD_LOCATION=YOUR_VALUE_HERE

# Existing corpus in Vertex RAG Engine to be used by RAG agent
# e.g. projects/123/locations/us-central1/ragCorpora/456
RAG_CORPUS=YOUR_VALUE_HERE 
# RAG Type: 'local' or 'vertex_ai'
RAG_TYPE=local
# Local ChromaDB Path (Required if RAG_TYPE=local)
CHROMA_DB_PATH=YOUR_VALUE_HERE
# Local ChromaDB Collection Name (Optional, default: eiopa_insurance_corpus)
CHROMA_COLLECTION_NAME=eiopa_insurance_corpus

# Staging bucket name for ADK agent deployment to Vertex AI Agent Engine (Shall respect this format gs://your-bucket-name)
STAGING_BUCKET=YOUR_VALUE_HERE

# Agent Engine ID in the following format: projects/<PROJECT_NUMBER>/locations/us-central1/reasoningEngines/<AGENT_ENGINE_ID>
AGENT_ENGINE_ID=YOUR_VALUE_HERE

# Model Configuration
MODEL_NAME=gemini-2.5-flash

# RAG Configuration
RAG_SIMILARITY_TOP_K=10
RAG_VECTOR_DISTANCE_THRESHOLD=0.6